# --- Visual Studio ---
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
[Bb]in/
[Oo]bj/
*.pdb
*.opendb
*.VC.db

# --- CMake ---
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile
install_manifest.txt

# --- Pastas de build ---
build/
Debug/
Release/
x64/
x86/

# --- Saídas de compilação ---
*.exe
*.dll
*.lib
*.so
*.a
*.o

# --- Logs e temporários ---
*.log
*.tmp
*.bak

# --- Testes ---
Testing/
TestResults/
*.coverage
*.coveragexml
